@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  width: 100vw;
  /* Lebar 100% dari viewport */
  height: calc(100vw * 9 / 16);
  /* Tinggi dihitung berdasarkan lebar, sesuai rasio 16:9 */
  max-width: 1600px;
  margin: 0 auto;
}

/* Menampilkan pesan untuk memutar perangkat jika orientasi adalah potrait */
.landscape-message {
  display: none;
}

@media screen and (orientation: portrait) {
  .landscape-container {
    display: none;
  }

  .landscape-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Menggunakan tinggi viewport untuk orientasi potrait */
    background-color: black;
    color: white;
  }
}